.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my own settings */

/* Main */

.body {
  background-color: snow;
}

/* Reply  */

.reply-thumbnail {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
  opacity: 0.7;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 10px;
  border: 1px solid #ccc;
}

.reply-icon {
  margin-right: 5px
}

/* Comments */

.highlighted-comment {
  background-color: #f8f8f8;
  /* Add any other styles to highlight the comment */
}

#commentUserHeader {
  background-color: rgb(168, 196, 206);
}

.highlighted-comment {
  background-color: #2dadb9;
  transition: background-color 0.5s;
}

.highlighted-comment:hover {
  background-color: #ffffff;
}

