{% extends 'main.html' %}


{% block title %}
    Login
{% endblock title %}


{% block content %}
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter Username...">

            <label for=""></label>
            <input type="password" name="password" placeholder="Enter password...">

            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock content %}
    
    