{% extends 'main.html' %}


{% block title %}
Room Page
{% endblock title %}


{% block content %}
<div class="container-lg">
    <h2>{{room}}</h2>
    <p><i>{{room.description}}</i></p>

    <div class="card mt-4">
        <div class="card-body">
            {% for comment in comments %}
            <div>
                <span>@{{comment.user}}</span>
                <p>
                    {{comment}} <a href="{% url 'delete-comment' comment.id %}">
                        <i class="fas fa-times"></i>
                    </a>
                </p>
            </div>
            {% endfor %}
            <form action="" method="post">
                {% csrf_token %}
                <label for="newComment">Add a comment</label>
                <input type="text" name="newComment" placeholder="Add a comment">

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <a href="{% url 'home' %}" class="btn btn-primary">Back to Home Page</a> <br>
    <a href="{% url 'edit-room' room.id %}" class="btn">Edit Room</a> <br>
    <a href="{% url 'delete-room' room.id %}" class="btn btn-danger">Delete Room</a> <br>
</div>
{% endblock content %}